.home-container {
    height: 300px;
    color: white;
    padding-left: 250px;
    background-color:  rgba(15, 7, 7, 0.893);
    
}

.home-content h2 {
    padding: 10px;
    padding-top: 70px;
   
}


.home-content h1 {
    padding: 5px;
    color: #e0b50f;
}


.home-buttons .btn-hire {
    background-color: #3b8ff3;
    color: white;
    width: 160px;
}

.home-buttons .btn-hire:hover {
    background-color: white;
    color: #3b8ff3;
    width: 200px;
    transition: 1s;
}

.home-buttons .btn-cv {
    background-color: #f29f67;
    color: white;
    margin-left: 15px;
}

.home-buttons .btn-cv:hover {
    opacity: 50%;
    transition: 1s;
}

.theme-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: #1e1e1e;
    margin-top: 20px;
    text-align: center;
    position: fixed;
    right: 0;
    cursor: pointer;
    border-radius: 50%;
   
    z-index: 1;
}

/* media query */
@media(max-width: 600px) {
    .home-container {
        padding: 0;
        margin: 0;
        margin-top: 50px;
        width: 100%;
       
    }
    .home-container h2 {
        font-size: 24px;
    }

    .home-container h1 {
        font-size: 24px;
    }
}